$padding:3%;
$color:black;
$font-weight:700;
$textsize:15px;
$background-color:lightgrey;
$margin-bottom:3%;
.upcoming {
	padding-top:$padding;
	color: $color;
	font-weight: $font-weight;
    margin-bottom: $margin-bottom;
}
.mt-2{
    margin-top: 2%;
}
.link{
    padding-top:$padding;
	color: $color;
	font-weight: $font-weight;

}
.text{
    font-size: $textsize;
    font-weight: $font-weight;
}

.main {

	background-color:$background-color;
	
	padding: 2%;
}